*{
  margin:0;
  padding:0;
}
.firstdiv{
  display:flex;
  height:100% 
}
.childdiv{
  width: 50%;
  height:50%
  color:white;
background-color:red;
border:5px solid yellow;
  font-size:50px;
}
  
div:nth-child(2){
  height:50%;
  width:50%;
  margin:10%;
  background-color:red;
  color:white;
  front-size:30px;
  text-align:centre;
}
div:nth-child(2){
  background-size:fit;
  background-image:url("nature.jpg"); 
}
@media(max-widhth:567px)
       .firstdiv{
  flex-direction: column;
}

