*main{
  padding: 0px;
  margin: 0px:
  box-sizing: border-box;
}
.box {
  width: 50%;
  height: 50%;
   display: inline-block; 
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

body{
    
       margin:0px; 
}
div{
  width:100%;
  height:100%;
  border:5px solid black;
}
 .head {
  color: blue;
}

.head + a {
  color: red;
}

.head + a + a {
  color: green;
}

.head + a + a + a {
  color: orange;
}

.head + a + a + a + a {
  color: purple;
}

.head + a + a + a + a + a {
  color: yellow; 
}
  
