h1
{
  color:blue;
  background-color:pink;
}
.green{
  background-color:green;
}
.red{
  background-color:red;
}

body{
    
       margin:0px; 
}
div{
  width: 100%;
  height: 50%;
  border:10px solid brown;
}
  
