*main{
  padding: 0px;
  margin: 0px:
  box-sizing: border-box;
}
.box {
  width: 50%;
  height: 50%;
   display: flex; 
}

 /* .green { 
  background-color: green;
}

.red {
  background-color: red;
} */

body{
    
       margin:0px; 
}
.first div{
  dispaly: flex;
}
.child: nth-of-type(2){
  width: 50%;
  height: 50%;
  border:5px solid yellow;
    background-color: blue !important;
}
.child: nth-of-type(1){
  width: 50%;
  height: 50%;
  border:5px solid yellow;
      background-color: blue !important;         
}

  
/* div{
  width:100%;
  height:100%;
  border:5px solid black;
}
 .head {
  color: blue;
}

.head + a {
  color: red;
}

.head + a + a {
  color: green;
}

.head + a + a + a {
  color: orange;
}

.head + a + a + a + a {
  color: purple;
}

.head + a + a + a + a + a {
  color: yellow; 
}
   */

