h1
{
  color:blue;
  background-color:pink;
}
body{
      background-color: green;
      background-color: red;
       margin:0px; 
}
div{
  width: 100%;
  height: 50%;
  border:10px solid brown;
}
  
