*{
  margin:0;
  padding:0;
}
.firstdiv{
  display:flex;
  height:100% 
}
.childdiv{
  width: 50%;
  height:50%
  color:white;
  backgroundcolor:red;
border:5px;
  font-size:50px;
}
  
.childdiv:nth-child(1){
  height:100%;
  width:100%;
  margin:10%;
  background-color:red;
  color:white;
  front-size:30px;
  text-align:centre;
}
.childdiv:nth-child(2){
  background-size:fit;
  background-image:url("../nature.jpg"); 
}
@media(max-widhth:567px)
       .container{
  flex-direction: column;
}
.box{
  height:100%;
}
}
  

