*{
  margin:0;
  padding:0;
}
.firstdiv{
  display:flex;
  height:100% 
}
.childdiv{
  
div:nth-child(1){
  height:100%;
  width:100%;
  margin:10%;
  background-color:red;
  color:white;
  front-size:30px;
  text-align:centre;
}
div:nth-child(2){
  height:100%;
   widhth:100%;
  margin:2px;
  background-image:url("nature.jpg");
  /* background-size:cover; */
  /* background-repeat:no-repeat; */
}
