
.firstdiv{
  display:flex;
  height:50% 
}

.childdiv{
  width: 50%;
  color:white;
background-color:red;
border:5px solid yellow;
  font-size:50px;
}
  .childdiv:nth-of-type(2){
  width:50%;
    background-size:fit;
  background-image:url("../nature.jpg")!important;

  color:white;
  front-size:30px;
  text-align:centre;
}
@media screen and(min-widhth:567px){
       .firstdiv{
  flex-direction:column;
         width:100%;

         
}
}
