*{
  margin:0;
  padding:0;
}
body{
  display:flex;
  align-items:center;
  justify-content: centre;
}
div:nth-child(1){
  height:100px;
  width:100px;
  margin:10px;
  background-color:red;
  color:white;
  front-size:30px;
  text-align:centre;
}
div:nth-child(2){
  height:100%;
    widhth:100%;
  margin:10px;
  background-image:url("../nature.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
